body,html{
    margin: 0;
    max-height: 100%;
    height: 100%; /*aumenta o tamanho da tela até o tamanho total do monitor*/
}

/* nav bar */

.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar{
    background: rgba(0, 0, 0, 0.555);
}

/* nav bar*/

#capa{
    background-image: url(../imagem/caixa4.jpg);
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    
}

#capa1{
    height: 100%;
}

.letreiro_capa{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
   
}
.letreiro_capa hr{
    border-color: seashell;
}
.letreiro_capa p{
    font-size: 2em;
}

/* seção biografia */
/* seção biografia */

#quem_sou{
    height: 100%;
    text-align: center;
}

.biografia_foto{
    border-radius: 90px;
    box-shadow: 0px 0px 1em rgba(77, 198, 235, 0.795);
}

.biografia_habilidades ul li{
    
    padding: 5px;
    font-size: 1.1em;
    list-style: none;
}


/* seção biografia */
/* seção biografia */


/* seção trabalhos*/
/* seção trabalhos*/

#trabalhos{
    height: 100%;
    background-color: rgba(124, 162, 187, 0.521);
    
}

.habilidades{
    text-align: center;   
}
.habilidades ul li{
    list-style: none;
    
}
.habilidades ul{
    padding: 0px;
}


.tabela_trabalhos tr td{
     padding: 15px;
     border-bottom: 1px dotted rgb(6, 58, 100);

}

.a{
    border: 1px solid red;
}






